 
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .main_div {
    width: 100%;
    min-height: 100vh;
    background: #ff33bbcc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    position: relative;
  }
  .center_div {
    margin: 0.9rem;
    width: 30%;
    min-height: 80vh;
    background-color: #cfcfc7ee;
    box-shadow: 7px 7px 27px -7px rgba(0, 0, 0, 0.7);
    border-radius: 1rem;
  }
  h1 {
    color: white;
    background: transparent;
    background-color: #ad33ffcc;
    padding: 5px 0 2px 0;
    margin-bottom: 0.5rem;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.4);
  }
  input {
    text-align: center;
    height: 2rem;
    top: 0.5rem;
    border: none;
    background: transparent;
    font-size: 1rem;
    font-weight: 600;
    width: 70%;
    border-bottom: 3px solid #ad33ffcc;
    outline: none;
  }
  button {
    min-height: 40px;
    width: 40px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #ad33ffcc;
    color: white;
    font-size: 2rem;
    border: none;
    outline: none;
    margin-left: 0.5rem;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.4);
  }
  button:hover {
    background-color: #20bf6b;
  }
  ol {
    margin-top: 1rem;
  }
  ol li {
    padding-left: 0px;
    text-align: left;
    font-size: 1.3rem;
    font-weight: 700;
    min-height: 40px;
    display: flex;
    align-items: center;
    color: #8566aa;
    text-transform: capitalize;
  }
.todo_style {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.todo_style .fa-times {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8566aa;
  border-radius: 50%;
  margin: 0 15px 0 35px;
  color: #f0f8ff;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.4);
}
.todo_style .fa-times:hover {
  background-color: crimson;

} 
 .todo_style .fa-times .list_style ol li:hover{
  color: crimson;
  
} 

@media (max-width:768px) {
  .center_div{
    width: 55%;
  }
  .todo_style .fa-times {
    margin: 0 15px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button {
    margin-left: 5px;
    min-height: 40px;
    width: 40px;
    color: white;
    font-size: 30px;
  }
} 

